<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Error 500 - Server Error</title>
		<style>
				html, body {
						margin:0;
						height:100%
						}

				.bg {
				  /* The image used */
				  background-image: url("{% static 'assets/img/ERROR 500.png' %}");

				  /* Full height */
				  height: 100%;

				  /* Center and scale the image nicely */
				  background-position: center;
				  background-repeat: no-repeat;
				  background-size: cover;
				}

		</style>

	</head>
	<body>
		<div class="bg"></div>

	</body>
</html>
